/* ubuntu fonts */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* inter fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* ones fonts */
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  border: none;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cf9414;
  height: 1rem;
}

.scrollbar::-webkit-scrollbar {
  width: 5px;
}
.scrollbar::-webkit-scrollbar-track {
  border: none !important;
  background-color: transparent !important;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: transparent !important;
  height: 1rem;
}

body {
  font-family: "Ubuntu", sans-serif;
}

.button-shadow {
  box-shadow: 0px 4px 12px 0px #00000024;
}

/* .textGradient {
  background: linear-gradient(258.44deg, #003366 23.89%, #0e80f2 82.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
} */

.featureBox {
  box-shadow: 0px 8px 24px 0px #959da533;
}

:where(.css-dev-only-do-not-override-f7vrd6).ant-upload-wrapper
  .ant-upload-drag,
.dotDash {
  border: 2px dashed #d0d5dd !important;
  background: transparent !important;
  border-radius: 1rem !important;
}

.bg-gradient-price {
  background: linear-gradient(
    270deg,
    rgba(218, 237, 255, 0.53) 0%,
    #ddeeff 100%
  );
}

.price-white {
  background-color: white;
}

.price-gradient {
  background: linear-gradient(180deg, #003366 0%, #0066cc 100%);
}

.filled-document::-webkit-scrollbar {
  width: 5px;
  display: none;
}

.stepListShadow {
  /* box-shadow: 0px 4.88px 7.32px -2.44px #79bcff0d; */

  box-shadow: 0px 12.2px 18.3px -3.66px #79bcff1a;
}

.noscrollbar::-webkit-scrollbar {
  display: none;
}

.spaces > p, .spaces ol li{
  padding-bottom: 20px;
}

.glassmorphism-navbar {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); 
  border-radius: 999999999px; 
  padding: 10px 20px; 
  /* box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);  */
}
